<br/>
<br/>
<h1 class="text-center" style="color:#8367C7; font-size:70px">ABOUT US</h1>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.fa {
  padding: 20px;
  font-size: 30px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
}

.fa:hover {
    opacity: 0.7;
}



.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.centerr{
    text-align: center;
}



</style>
</head>
<body>


<!-- Add font awesome icons -->
<div class="centerr"> 
    <a href="https://www.linkedin.com/company/devsnest/?originalSubdomain=in" class="fa fa-linkedin"></a>
    <a href="https://www.youtube.com/channel/UCkxqJvZRzhM0oaBjbu3ZjFg" class="fa fa-youtube"></a>
    <a href="https://www.instagram.com/devsnest.in/?hl=en" class="fa fa-instagram"></a>
</div>
      
</body>
</html> 
