<br/>
<br/>
<h1 class="text-center" style="color:#8367C7; font-size:70px">DEVSNEST</h1>
<br/>
<br/>
<br/>
<br/>
<br/>
<h1 class="text-left" style="font-size:35px">Education which makes you financially independent</h1>
<h1 class="text-left" style="color:#8367C7">financially independent</h1>
<br/>
<p class="text-left" style="font-size:20px">A mentorship program designed to help you get your dream job. </p>
<p class="text-left" style="font-size:20px" >It evolves as per your needs to mould you into a kickass developer.</p>
<br/>
<br/>
<br/>   
<h1 class="text-right" style="color:#8367C7; font-size:35px; margin-left: 70%">Our Vision</h1>
<br/>
<p class="text-righ" style="font-size:20px; margin-left: 50%">A mentorship program designed to help you get your dream job. </p>
<p class="text-righ" style="font-size:20px; margin-left: 50%">Most students are unable to acquire the correct skillset and be job-ready for interviews just because they don't find the correct guidance and atmosphere to learn. Devsnest aims to revolutionize the education industry by aiding this process. </p>