
<% if current_user.admin %>
    <h1>Editing Course</h1>
    <%= render 'form', course: @course %>
    <%= link_to 'Show', @course %> |
    <%= link_to 'Back', courses_path %>
<% else %>
<p> :O What are you doing here </p> 
<% end %>